.footer_last{
    background: #ccc;
}

.footer_last h6{
    margin: 0;
    padding:0;
    text-align: center;
    line-height: 1;
}
.footer_last .footer_title_box{
    width: 33.3%;
    display: inline-block;
}

.footer_last .footer_title{
    width: 90%;
    margin: 15px auto 0; 

}
.footer_last .footer_icon{
    display: inline-block;
}

.footer_last .footer_icon {
    display: inline-block;
}

.footer_last .footer_title ul{
    display: inline-block;
    width: 33.3%;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}