@import '../../lib/mixin/_elMiddle.scss';

.box-loading{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // overflow:hidden;
    background: rgb(236,232,222);
}

.loading{
    @include center; 

}