


/* 轮播图 */
.carousel_header .ant-carousel .slick-slide {
    text-align: center;
    max-height: 500px;
    line-height: 500px;
    background: #364d79;
    overflow: hidden;
  }
  
  .carousel_header  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .carousel_header  .ant-carousel .slick-slide img {
    width: 100%;
    height: 100%;
  }


/* contetn-inner */

.inner{
  padding: 16px;
  margin-top:20px; 
  width: 100%;
  display: inline-block;
}









