@import '../../lib/mixin/_elMiddle.scss';

.Login_page{
  width: 100%;
  height: 100%;
  overflow: hidden ;
  background: #789262;
  
}
/* input:focus { 
  outline: none; 
  background:none;    
  outline:none;    
  border:0px; 
}  */
input{
  -moz-appearance:none !important; /* Firefox */
  -webkit-appearance:none !important; /* Safari å’Œ Chrome */
  outline:none;
  background-color:transparent!important;
}

input:-webkit-autofill,input:focus:-webkit-autofill { 
  -webkit-box-shadow: 0 0 0px 1000px white inset; 
  outline:none;
  }


.Login_page .login-form {
  @include center; 
  padding: 10px;
  width: 60%;
   /* margin-top: 200px; */
    max-width: 300px;
    z-index: 999;
  }
  .Login_page  .login-form-forgot {
    float: right;
  }
  .Login_page .login-form-button {
    width: 100%;
    z-index: 2;
    background-color:transparent; 
  }
  .Login_page .body_login{
    /* background: url("/assets/images/timg.jpeg"); */
    width: 100%;
    height: 100%;
  }